body {
    background-color: peru;
}
h1 {
    font-size: 3.2rem;
    text-align: center;
}
label {
    font-size: 1.2rem;
}
input {
    margin-left: 2vw;

    font-size: 1.2rem;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
}
button {
    background-color: transparent;
    font-size: 1.2rem;
    margin-left: 2vw;
    border-radius: 5px;
}
#example {
    text-align: center;
}
#d {
    visibility: hidden;
}
#input {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px;
    margin: 10px auto;
    max-width: 600px;
}
#output {
    font-size: 1.2rem;
    text-align: center;
}
